@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  position: absolute;
  transition: transform .5s ease-in-out;

  &>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
  }

  & h1 {
    font-size: 4.2rem;
    margin: -3rem 0 1rem 0;
  }
}

.right-slide {
  position: absolute;
  top: 0;
  left: 35%;
  height: 100%;
  width: 65%;

  &>div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
}

.button {
  background-color: #FFF;
  border: 0;
  color: #AAA;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.5rem;

  &:hover {
    color: #222;
  }

  &:focus {
    outline: none;
  }
}

.slider-container .action-buttons .button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}